canvas {
	width: 100%;
	/* background-color: rgb(37, 41, 52); */
	height: 100vh;
}



.navbar .nav-link {
    margin-right: auto;
	margin-left: auto;
}

nav a, nav a .btn {
	color: white !important;
	font-weight: 600 !important;
}

.nav-item:hover:not(:last-child) {
	background-image: -webkit-linear-gradient(92deg, #f35626, #feab3a);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	-webkit-animation: hue 10s infinite linear;
}

/* .wrapper{
	position: relative;
}

.wrapper:after{
	content: " ";
	z-index: 10;
	display: block;
	position: absolute;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	background: rgba(0, 0, 0, 0.5);
} */

.container {
	
	/*padding-top: 20%;*/
	vertical-align: middle;
	display: table-cell;
	/*top: 25%;*/
}

#welcome {
	/*background-color: rgba(249, 250, 252, 0);*/
	/*	padding-top: 0;
		padding-bottom: 0; 
		text-align: center;
		position: absolute;
		width: 100%;
	*/
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	padding: 0;
	width: 100%;
	}

	#overlayDiv {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index:99;
		display: table;
}

/* height 100vh works perfectly for taking full height of window*/
/* padding top is set to avoid main navigation overlay with content (all sections except first landing page */
section {
	width: 100%;
	height: 100vh;
	/* padding-top: 3rem; */
	display: table;
}

#home {
	padding-top: 0;
}

#portfolio{
	margin-left: 0;
	margin-right: 0;
	position: relative;
	padding-top: 10vh;
}

#contact {
	/* background-color: navy; */
	margin-left: 0;
	margin-right: 0;
	padding-top: 10vh;
}

a{
	color: white;
}

a:hover{
	text-decoration: none;
}

a:visited{
	text-decoration: none;
}

h1, .about-btn {
	color: white;
	text-shadow: 0px 5px 3px rgba(0, 0, 0, 0.4),
				 1px 8px 13px rgba(0, 0, 0, 0.1),
				 0px 18px 23px rgba(0, 0, 0, 0.1); 
}

h2 {
	font-weight: 300;
	color: white;
	font-size: 2.5 rem !important;
}

/* ANIMATION of MAIN PAGE TEXT */
@-webkit-keyframes hue {
	from {
	  -webkit-filter: hue-rotate(0deg);
	}
	to {
	  -webkit-filter: hue-rotate(-360deg);
	}
  }



#myName {
	/* color: rgb(102, 242, 255); */
	font-weight: 600;
	font-size: 6rem;
	opacity: 0;
	 }

.animatedSpan{
	background-image: -webkit-linear-gradient(92deg, #f35626, #feab3a);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	-webkit-animation: hue 10s infinite linear;
	font-weight: 600;
}

.fa-arrow-right {
	margin-left: 5%;
}

body{
	color: white;

	margin: 0;
	padding: 0;
	/*hiding scroll bar on the bottom*/
	overflow-x: hidden;
	
	/* GRADIENT */
	/* background: #34e89e;  /* fallback for old browsers */
	/* background: -webkit-linear-gradient(to top, #0f3443, #34e89e);  Chrome 10-25, Safari 5.1-6 */
	/* background: linear-gradient(to top, #0f3443, #34e89e); W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
		

	/* background-color: black; */
	background-color: #130f40;
	background-image: linear-gradient(315deg, #130f40 0%, #000000 74%);
}
.contact-btn:hover{
	background-color: rgb(0, 123, 255);
	border: 2px solid rgb(0, 123, 255);
}

.about-btn:hover{
	background-color: #0069d9;
	border-color: #0069d9;
	color: white;
}

#aboutMe{
	background-image: url("/assets/paralax-picture-bw.png");
	background-size: cover;
	background-position-x: right;
	/* paralax */
	background-attachment: fixed;

	margin-left: 0;
	margin-right: 0;

}

#profile_img{
	display: none;
}

#about-text{
	background: #000000b5;
	border-radius: 2vh;
	padding: 2vh;
}

.sectionEnd{
	padding: 2vh;
	border-radius: 2vh;
	color: white;
	margin-top: 5em;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	max-width: max-content;
	background: #000000b5;
}

#buttonMask{
	/* display: inline-block;
	width: 30%; */
	padding-top: 2em;
}

.contactMePart {
	color: white;
	display: inline;
	font-weight: 100;
	text-align: center;
	vertical-align: middle;
}

.middle{
	transform: translateY(25%);
}

.verticalAlign{
	margin-top: 12.5vh;
}

#formSentMessage{
	display: none;
	color: #212529;
	background-color: #00FF7F;
	border-color: #00FF7F;
	font-weight: 600;
	text-align: center;
}

/* Social medias Contact area */
/* Font Awesom icons */
#contact .col-lg-4 .svg-inline--fa{
	width: auto;
	height: 3em;
	color: white;
	/* display: block; */
	margin-top: 1rem;
	margin-right: 1rem;
}

#contact h4{
	color: white;
}

.social{
	padding-top: 2rem;
	/* padding-left: 10em; */
}

footer{
	color: oldlace;
}

/* FLICKITY (carousel) styling */
/* external css: flickity.css */

* { box-sizing: border-box; }

body { font-family: sans-serif; }

.main-carousel {
  /* top: 50vh; */

  position: initial;
  margin-top: 25vh;
}

.carousel-cell {
  width: 28%;
  height: 200px;
  margin-right: 10px;
  background: #8C8;
  border-radius: 5px;
  color: white;
}

.carousel-cell.is-selected {
  border: 0.1rem solid white;
}

.bcg-img{
	display: none;
}

/* cell number */
.carousel-cell:before {
  display: block;
  text-align: center;
  line-height: 200px;
  font-size: 80px;
  color: white;
}

/* #carousel-portfolio{
background-image: linear-gradient(to left, rgba(255,0,0,0), rgb(0, 0, 0));
color: #ffffff;
padding: 5px;
width: max-content;
} */

.container-fluid{
	display: inline;
}

#emailHelp{
	color: #ffffffde !important;
	text-align: end;
}

.social .row a .svg-inline--fa {
    font-size: 2em;
    margin-right: 0.5em;
	margin-left: 0.5em;
	margin-top: 1rem;
}

.outro{
	margin-top: 1rem;
}

.about-intro-padding{
	padding-left: 5vh;
	padding-right: 5vh;
}

#portfolio_main_description{
	/* float: right; */
	/* background-image: linear-gradient(to left, rgba(255,0,0,0), rgb(0, 0, 0)); */
	background: #000000bf;
	border-radius: 1.5vh;
	padding: 2vh;
	margin-left: auto;
	margin-right: auto;
	color: #ffffff;
	max-width: 50%;
	/* position: absolute; */

	z-index: 2;
}

.desc-inline{
	display: inline;
	margin-left: 1rem;
}

#aboutMe ul{
	list-style-type: none;
	font-size: 1.75em;
	padding-left: 0;
}

#aboutMe h2{
	font-weight: 600;
}

#back-to-top{
	position: fixed;
    top: 90%;
	left: 95%;
	font-size: 200%;
}

.fa-arrow-alt-circle-up{
	font-size: 200%;
}

#contact h2{
	margin-bottom: 5vh;
}

.line{
	width: 20vh;
	border: 2px solid #f35624;
	height: 3px;
	margin-bottom: 1vh;
	margin-top: -1vh;
}

#contact .animatedSpan{
	border-bottom: 3px solid #f35624;
}

.list-margin{
	margin-top: -3vh;
}

.carousel-name, .carousel-description, .portfolio-type{
	font-weight: 600;
	padding-left: 1vh;
	padding-top: 1vh;
}

#carousel-long-desc, #carousel-portfolio{
	padding-left: 1vh;
}

#project-button{
	margin-left: 1vh;
}

#portfolio_main_description h4{
	font-weight: 600;
}

.portfolio-dim{
	background-image: linear-gradient(0deg, rgba(255,0,0,0), rgb(0, 0, 0));
	text-shadow: 1px 1px #000;
}

.carousel-description, .portfolio-link{
	display: none;
}

.bg-dark{
	background-color: black !important;
}

.padding-heart{
	padding-top: 0.25vh;
}

#cookie-consent{
	padding: 1vh;
	position: fixed;
	width: 100%;
	background-color: #555454a1;
	z-index: 555;
	top: 20vh;
}

#cookie-accept{
	padding-bottom: 2vh;
	padding-right: 5vh;
}

#cookie-accept .btn{
	width: 20vh;
}

#privacy-policy{
	max-width: 50%;
	margin-left: auto;
	margin-right: auto;
}

/*  ************************ */
/*  ************************ */
/*  ************************ */
/*  ***** MEDIA QUERIES **** */
/*  ************************ */
/*  ************************ */
/*  ************************ */

/* 1. mobile phones */
@media (max-width: 500px){
	#profile_img{
		max-width: 80%;
		margin-bottom: 3rem;
	}

	.carousel-cell {
		width: 99%;
		position: absolute;
	  }

	  #portfolio_main_description{
		max-width: 100%;
	}

	.about-intro-padding{
		padding-left: 2vh;
		padding-right: 2vh;
	}

	#main_contactForm .col{
		padding-left: 2vh;
		padding-right: 2vh;
	}

	#back-to-top{
		top: 85%;
		left: 80%;
	}

	#myName {
		/* color: rgb(102, 242, 255); */
		font-weight: 450;
		font-size: 5.5rem;
		 }

}

/* 2. Tablets */
@media (min-width: 501px) and (max-width: 768px){
	#profile_img{
		max-width: 50%;
		margin-bottom: 3rem;
	}

	.carousel-cell {
		width: 50%;
		position: absolute;
	  }

	.about-intro-padding{
		padding-left: 2vh;
		padding-right: 2vh;
	}

	#back-to-top{
		top: 85%;
		left: 80%;
	}
}


/* Custom */
@media (max-width: 991px){
	#main_contactForm .col{
		display: inline-table;
	}

	#formSubmitButton{
		width: 100%;
	}

	.about-intro-padding{
		padding-left: 2vh;
		padding-right: 2vh;
	}

	.navbar .sticky-top .navbar-dark .bg-dark .lign-content-end .navbar-expand-lg{
		background-color: black;
	}

	#contact #main_contactForm .col:nth-child(even){
		margin-top: 1vh;
	}

}

@media (min-width: 769px) and (max-width: 1100px){
	#back-to-top{
		left: 90%;
	}

}

@media (min-width: 768px) and (max-width: 1200px){
	#aboutMe{
		background-position: center;
	}
}

@media (max-width: 767px){
	#aboutMe{
		background-image: none;
		background-size: auto;
	}

	#profile_img{
		display: block;
	}

	#about-text{
		background: none;
		border-radius: 0;
		padding: auto;
	}
}



/* @media (min-width: 1441px){
	.main-carousel{
		top: 200%;
	}
}

@media (max-width: 1440px){
	.main-carousel{
		top: 170%;
	}
}

@media (max-width: 991px){
	body{
		height: 400vh;
	}


	 .container-fluid{
		height: 100vh;
	}

	#profile_img{
		max-width: 80%;
	}
}  */